@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center text-success alert alert-success display-2">
        <p>IsDB-BISEW <br />IT Scholarship Programme</p>
    </div>

    <div class="text-center text-secondary alert alert-primary display-6">
        <p>Project Information System</p>
    </div>